BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
# BR2_TARGET_UBOOT_BUILD_SYSTEM_LEGACY is not set
# BR2_TARGET_UBOOT_LATEST_VERSION is not set
# BR2_TARGET_UBOOT_CUSTOM_VERSION is not set
# BR2_TARGET_UBOOT_CUSTOM_TARBALL is not set
BR2_TARGET_UBOOT_CUSTOM_GIT=y
# BR2_TARGET_UBOOT_CUSTOM_HG is not set
# BR2_TARGET_UBOOT_CUSTOM_SVN is not set
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://e.coding.net/weidongshan/uboot-stm32mp.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="origin/master"
BR2_TARGET_UBOOT_VERSION="origin/master"
BR2_TARGET_UBOOT_PATCH=""
BR2_TARGET_UBOOT_USE_DEFCONFIG=y
# BR2_TARGET_UBOOT_USE_CUSTOM_CONFIG is not set
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="stm32mp15_trusted"
BR2_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="board/100ask/stm32mp157-myir/uboot-fragment.config"
BR2_TARGET_UBOOT_NEEDS_DTC=y
# BR2_TARGET_UBOOT_NEEDS_PYLIBFDT is not set
# BR2_TARGET_UBOOT_NEEDS_PYELFTOOLS is not set
# BR2_TARGET_UBOOT_NEEDS_OPENSSL is not set
# BR2_TARGET_UBOOT_NEEDS_LZOP is not set
# BR2_TARGET_UBOOT_NEEDS_ATF_BL31 is not set


# U-Boot binary format
#
# BR2_TARGET_UBOOT_FORMAT_AIS is not set
# BR2_TARGET_UBOOT_FORMAT_BIN is not set
# BR2_TARGET_UBOOT_FORMAT_DTB_BIN is not set
# BR2_TARGET_UBOOT_FORMAT_DTB_IMG is not set
# BR2_TARGET_UBOOT_FORMAT_DTB_IMX is not set
# BR2_TARGET_UBOOT_FORMAT_IMG is not set
# BR2_TARGET_UBOOT_FORMAT_ITB is not set
# BR2_TARGET_UBOOT_FORMAT_IMX is not set
# BR2_TARGET_UBOOT_FORMAT_NAND_BIN is not set
# BR2_TARGET_UBOOT_FORMAT_KWB is not set
# BR2_TARGET_UBOOT_FORMAT_ELF is not set
# BR2_TARGET_UBOOT_FORMAT_SB is not set
# BR2_TARGET_UBOOT_FORMAT_SD is not set
# BR2_TARGET_UBOOT_FORMAT_NAND is not set
BR2_TARGET_UBOOT_FORMAT_CUSTOM=y
BR2_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot.stm32"
# BR2_TARGET_UBOOT_SPL is not set
# BR2_TARGET_UBOOT_ENVIMAGE is not set
# BR2_TARGET_UBOOT_BOOT_SCRIPT is not set
BR2_TARGET_UBOOT_CUSTOM_DTS_PATH=""
BR2_TARGET_UBOOT_CUSTOM_MAKEOPTS="DEVICE_TREE=stm32mp157c-ya157c-512d-v2"
