CONFIG_SOCKET_CTRL_PATH="/tmp/sockinstctrl"
CONFIG_SOCKET_PROGRESS_PATH="/tmp/swupdateprog"
CONFIG_DOWNLOAD=y
CONFIG_DOWNLOAD_SSL=y
CONFIG_HASH_VERIFY=y
CONFIG_ENCRYPTED_IMAGES=y
CONFIG_SURICATTA=y
CONFIG_SURICATTA_SSL=y
CONFIG_SURICATTA_STATE_CHOICE_BOOTLOADER=y
CONFIG_SURICATTA_STATE_BOOTLOADER="update"
CONFIG_WEBSERVER=y
CONFIG_MONGOOSESSL=y
CONFIG_LUAEXTERNAL=y
CONFIG_RAW=y
CONFIG_RDIFFHANDLER=y
CONFIG_LUASCRIPTHANDLER=y
CONFIG_SHELLSCRIPTHANDLER=y
CONFIG_ARCHIVE=y
CONFIG_BOOTLOADERHANDLER=y
